{% extends "layout.html" %}

{% block title %}
About Us
{% endblock title %}

{% block main %}
<div class="content">
    <div class="title">
        <h1>About Myself</h1>
    </div>
    <div class="row">
        <div class="col-4">
            <img class="img-fluid profile" src="/static/img/profile.jpg" alt="My Photo">
        </div>
        <div class="col-8">
            <p>
                I am Apar Awasthi, born and brought up in Kanpur, Uttar Pradesh. I did my schooling from Gaurav Memorial
                International School, and I've completed my B.tech from Dr. A.P.J. Abdul Kalam Technical University from
                Electronics & Comunication stream. and Then CDAC, Acts, from Pune - PG-DAC.
            </p>
            <p>
                My strength is my attitude, where I like to take up challenges and think to accept both success and
                failure in a balanced way to move forward. I do not like to say weaknesses, but I want to say that I do
                not leave any questions altogether. I believe in myself, the work I do, and I want fulfillment in
                everything.
            </p>
        </div>
    </div>
</div>
{% endblock main %}